body{
    font-family: 'poppins';
    background-color:#F5EEE6;
}

.container-fluid{
    max-width: 100%;
}

.navbar{
margin: 20px;
justify-content: center;
border-bottom: 1px solid #e6a4b4;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .navbar-nav li {
    margin: 0px 20px; /* Sesuaikan jarak antar item navbar */
  }

.navbar-nav li a{
font-weight: 600;
margin: 0px 30px 0 0;
color: #e6a4b4;
}

.logo {
display: flex;
align-items: center; /* Untuk memposisikan logo di tengah vertikal */
}

.logo img {
width: 300px; /* Sesuaikan ukuran logo dengan kebutuhan */
height: auto; /* Biarkan tinggi otomatis menyesuaikan proporsi */
margin-right: 20px; /* Atur jarak antara logo dan menu navigasi */
}

.left-box{
position:relative;
  width: 600px;
  height: 702px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 28px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #e6a4b4;
}

.left-box img{
       height: 837px;
       margin-top: -140px;
       margin-left: -145px;
       display: flex;
       justify-content: center;
       align-content: center;
}

.right-side h1{
    font-size: 40px ;
    margin-top: 160px;
    padding-bottom: 20px;
    color: #835151;
    border-bottom: 1px solid #e6a4b4;
}

.right-side p{
    width: 400px;
    margin-left: 40px;
    font-size: 18px;
    margin-top: 20px;
    color: #835151;
}

.box-mid{
    position:relative; 
  width: 957px;
  height: 500px;
  left: 190px;
  margin: 140px 20px 0 0; 
  border-radius: 20px;
  background-color: #e6a4b4;
  display: flex;
  align-items: center;
  
}

.box-mid img{
    width: 584px;
    height: 544px;
    margin-left: -210px;
    display: flex;
    justify-content: center;
    align-content: center;

}

.box-mid h3 {
font-size: 28px;
font-weight: 700;
text-align: center;
justify-content: center;
color: #835151;
margin: -50px 0 0 -10px; 
}

.box-mid p {
width: 500px;
font-size: 16px;
font-weight: 500;
margin: 40px 0 0 30px;
text-align: center;
color: #835151;
}


.border-dashed{
    box-sizing: border-box;
    margin-left:0;
    margin-top: 140px;
    border: 2px dashed #835151;
    border-radius: 20px;
}

.box-side{
  width:500px;
  height: 502px;
  padding: 28px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #324877;
}

.box-side img{
position: absolute;
        width: auto;
        height: 630px;
        left: 80px;
        margin-top: -55px;
        margin-left: -40px;
        display: flex;
        justify-content: center;
        align-content: center;
}

h1{
left: 11.18%;
right: 11.18%;
top: 140px;
bottom: 17.63%;

font-weight: 700;
font-size: 55px;
line-height: 90px;
text-align: center;
color: #835151;
}

h3{
width: 597px;
font-size: 28px;
font-weight: 700;
margin: 140px -15px 10px;
text-align: left;
color: #835151;

}

p{
width: 597px;
font-size: 16px;
font-weight: 500;
margin: 50px -15px 0;
text-align: left;
color: #835151;
}


.bottom-box {
    bottom: 0;
    margin-left: -120px;
    margin-top: 50px;
    width: 1351px;
    height: 400px;
    background-color: #835151;
  }

.bottom-box img{
       height: 402px;
       margin-left: 60px;
       display: flex;
       object-fit: cover;
       justify-content: center;
       align-content: center;
}




