@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

/*------------ Login container ------------*/

.box-area {
  width: 930px;
}

/*------------ Right box ------------*/
.left-box {
  padding-right: 0px;
}

.right-box {
  padding: 40px 30px 40px 40px;
  background-color: #e6a4b4;
}

/*------------ Custom Placeholder ------------*/

::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 10px;
}
.rounded-5 {
  border-radius: 30px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
    width: 629px;
  }
}

.header-text h2 {
  font-size: 32px;
  font-weight: bold;
  color: #835151;
}

.header-text p {
  font-size: 16px;
  font-weight: 600;
  color: #835151;
}

.form-label {
  font-size: 16px;
  font-weight: 600;
  color: #835151;
}

.form-control {
  background-color: #d9d9d9;
}

.form-check-label {
  font-size: 16px;
  font-weight: 600;
  color: #835151;
}

.btn-login {
  background-color: #835151;
  font-weight: bold;
  color: #d9d9d9;
}

:hover.btn-login {
  background-color: #5a3838;
  font-weight: bold;
  color: #d9d9d9;
}

/* halaman reset */
.kotak {
  background-color: #b67b7b;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
